In [1]:
# 1. explain with an example each when to use a for loop and a  while loop

In [5]:
#  use of foor loop when we know the loop should execute n times 
# for example
l=[1,2,3,4,5,6]
for i in l:
    print(i)
# where we want traversing the list we know that how many times the loop should 
# be execute so we use for loop .

# while loop 
# use of while loop when we  not know that  how many times loop should be exectue 
# where we use condition when condition true loop will we execute otherwise loop will
# not be execute 
# for example 
#   take a input from user and divide by 2 its untill before number 
#   should less than 10
number = int (input("enter the number "))
count = 0              
while (number>10):
              count = count +1
              number= number/2
print(count)

1
2
3
4
5
6

enter the number  50

3

In [6]:
#2. write a python program to print the sum and the product of first natural number 
# using for loop and while loop

In [21]:
# for loop sum of 10 natural number
l= list(range(1,11))
sum = 0
for i in l:
    sum =sum+i
print(sum)

55

In [26]:
# for loop  product of ten natural number 
l=list(range(1,11))
product = 1
for i in l:
    product = product*i
print(product)

3628800

In [44]:
# while loop sum of ten natural number

sum=0
n=1
while(n<=10):
    sum = sum +n
    n=n+1
print(sum)

55

In [28]:
# while loop product of ten natural nuumber
product = 1
n=1
while(n<=10):
    product =product*n
    n=n+1
print(product)

3628800

In [ ]:
# 3 create a python program to compute the electricity bill for a household .

In [38]:
unit = int(input("enter the unit"))
bill=0
for i in range(1,unit+1):
    if (i<=100):
        bill =bill+4.5
    elif(i<=200):
        bill=bill+6
    elif(i<=300):
        bill =bill +10
    else:
        bill =bill+20
print(bill)

enter the unit 310

2250.0

In [46]:
# while loop

unit = int(input("enter the unit"))
bill=0
while(unit>0):
    if (unit<=100):
        bill =bill+4.5
    elif(unit<=200):
        bill=bill+6
    elif(unit<=300):
        bill =bill +10
    else:
        bill =bill+20
    unit =unit-1    
print(bill)

enter the unit 310

2250.0

In [ ]:
# 4. CREATE A LIST OF NUMBER FROM 1 TO 100 .USE FOR LOOP AND WHILE LOOP  TO CALCULATE  THE CUBE OF EACH NUMBER AND IF THE CUBE OF THAT NUMBER IS DIVISIBLE BY 4 OR 5
#    THEN APPEND THAT NUMBER AIN A LIST AND PRINT THAT LIST.

In [23]:
# FOR LOOP 
l =list(range(1,100+1))
l1=[]
for i in range(1,len(l)+1):
    a= i**3
    if(a%4==0 or a%5==0):
        l1.append(a)
   
   
      
print(l1)

[8, 64, 125, 216, 512, 1000, 1728, 2744, 3375, 4096, 5832, 8000, 10648, 13824, 15625, 17576, 21952, 27000, 32768, 39304, 42875, 46656, 54872, 64000, 74088, 85184, 91125, 97336, 110592, 125000, 140608, 157464, 166375, 175616, 195112, 216000, 238328, 262144, 274625, 287496, 314432, 343000, 373248, 405224, 421875, 438976, 474552, 512000, 551368, 592704, 614125, 636056, 681472, 729000, 778688, 830584, 857375, 884736, 941192, 1000000]

In [17]:
# WHILE LOOP 
i=1
l1=[]
while (i<=100):
    a = i**3
    if (a%4==0 or a%5==0):
        l1.append(a)
    i= i+1
print(l1)

[8, 64, 125, 216, 512, 1000, 1728, 2744, 3375, 4096, 5832, 8000, 10648, 13824, 15625, 17576, 21952, 27000, 32768, 39304, 42875, 46656, 54872, 64000, 74088, 85184, 91125, 97336, 110592, 125000, 140608, 157464, 166375, 175616, 195112, 216000, 238328, 262144, 274625, 287496, 314432, 343000, 373248, 405224, 421875, 438976, 474552, 512000, 551368, 592704, 614125, 636056, 681472, 729000, 778688, 830584, 857375, 884736, 941192, 1000000]

In [20]:
# 5. write a program  to filter count vowel in the below given string 
string = "I want to become a data scientist"

In [22]:
string = "I want to become a data scientist"
count =0
for i in string:
    if (i=="a"or i =='A'):
        count =count+1
    if (i=='i'or i=="I"):
        count = count+1
    if (i =="e" or i=='E'):
        count =count+1
    if(i=='o'or i=="O"):
        count = count+1
    if(i=='u'or i=='U'):
        count =count+1
print(count)

12